body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://assets.nicepagecdn.com/d2cc3eaa/3955079/images/34.jpg);
  background-size: cover;
  background-position: center center;
  overflow: auto;
}
section .position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
section .position-center .text-center {
  text-align: center;
}
section .container {
  width: 100%;
  max-height: 100%;
  min-width: 500px;
  color: #fff;
  overflow: auto;
}
section .container .title h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin: 60px auto 0;
  -webkit-animation: 1.5s fadein-to-right;
          animation: 1.5s fadein-to-right;
}
section .container .title p {
  font-size: 1.25rem;
  width: 60%;
  max-width: 760px;
  display: inline-block;
  -webkit-animation: 1.5s fadein-to-left;
          animation: 1.5s fadein-to-left;
}
section .container .actions button {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 20px;
  padding: 14px 40px 15px;
  margin: 0.5rem;
  display: inline-block;
}
section .container .actions button:nth-child(1) {
  background: #fff;
  color: #333;
  border: 2px solid #fff;
  -webkit-animation: 1.5s fadein-to-right;
          animation: 1.5s fadein-to-right;
}
section .container .actions button:nth-child(1):hover {
  background: #e73d0c;
  color: #fff;
  border: 2px solid #e73d0c;
}
section .container .actions button:nth-child(2) {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  -webkit-animation: 1.5s fadein-to-left;
          animation: 1.5s fadein-to-left;
}
section .container .actions button:nth-child(2):hover {
  background: #e73d0c;
  border: 2px solid #e73d0c;
}
section .container p {
  font-weight: 700;
  margin-bottom: 3rem;
}
section .container p a {
  color: #fff;
}
section .container .foods figure {
  display: inline-block;
  background-color: #e73d0c;
  padding: 60px 50px;
  margin: 1rem;
  min-width: 150px;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  -webkit-animation: 1.5s fade-to-top;
          animation: 1.5s fade-to-top;
}
section .container .foods figure img {
  width: 3rem;
}

@-webkit-keyframes fadein-to-right {
  from {
    transform: scale(0);
    transform: translateX(-500px);
  }
  to {
    transform: scale(1);
    transform: translateX(0);
  }
}

@keyframes fadein-to-right {
  from {
    transform: scale(0);
    transform: translateX(-500px);
  }
  to {
    transform: scale(1);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadein-to-left {
  from {
    transform: scale(0);
    transform: translateX(500px);
  }
  to {
    transform: scale(1);
    transform: translateX(0);
  }
}
@keyframes fadein-to-left {
  from {
    transform: scale(0);
    transform: translateX(500px);
  }
  to {
    transform: scale(1);
    transform: translateX(0);
  }
}
@-webkit-keyframes fade-to-top {
  from {
    opacity: 0;
    height: 0;
    min-width: 0px;
    transform: scale(0);
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    height: 100%;
    min-width: 150px;
    transform: scale(1);
    transform: translateY(0);
  }
}
@keyframes fade-to-top {
  from {
    opacity: 0;
    height: 0;
    min-width: 0px;
    transform: scale(0);
    transform: translateY(500px);
  }
  to {
    opacity: 1;
    height: 100%;
    min-width: 150px;
    transform: scale(1);
    transform: translateY(0);
  }
}/*# sourceMappingURL=0718ex.css.map */